* {
  margin: 0;
  padding: 0;
}
.btn-face {
  margin-top: 50px;
}
.btn-face .login {
  display: block;
  border: 1px solid rgba(59,89,152,0.8);
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 255px;
  cursor: pointer;
  text-decoration: none;
}
.btn-face .login:hover {
  border: none;
  background-color: rgba(59,89,152,0.8);
  color: #fff;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.btn-face .login .texto {
  margin-left: 10px;
  vertical-align: 5px;
}
